.menu-tamanho {
    width: 180px;
}

.hover-menu {
    box-shadow: -2px 2px 200px rgb(0, 0, 0);
}

.btn-menu-tamanho {
    width: 200px;
}

.img-product {
    width: 280px;
}

.custom-tooltip .tooltip-inner {
    background-color: #81f073;
    color: #000000;
    font-weight: bold;
    border: 3px solid rgb(1, 99, 41);
    margin: 0px;
    border-radius: 0.575rem;
    padding: 0.2rem 
  }
  
  
  .custom-tooltip2 .tooltip-inner {
    background-color: #5389fd;
    color: #000000;
    font-weight: bold;
    border: 3px solid #0037ff;
    margin: 0px;
    border-radius: 0.575rem;
    padding: 0.2rem
  }
  

  .custom-tooltip3 .tooltip-inner {
    background-color: #88e7ff;
    color: #000000;
    font-weight: bold;
    border: 3px solid #6c8bfa;
    margin: 0px;
    border-radius: 0.575rem;
    padding: 0.2rem
  }
  
  .custom-tooltip4 .tooltip-inner {
    background-color: #fff388;
    color: #000000;
    font-weight: bold;
    border: 3px solid #fac16c;
    margin: 0px;
    border-radius: 0.575rem;
    padding: 0.2rem
  }
  
  .custom-tooltip5 .tooltip-inner {
    background-color: #ff8888;
    color: #000000;
    font-weight: bold;
    border: 3px solid #fc4b4b;
    margin: 0px;
    border-radius: 0.575rem;
    padding: 0.2rem
  }
  
  .tamanho-inputs {
    width: 100px !important;
  }

  .menu-btn-tamanho {
    width: 200px;
  }