.menu-tamanho {
  width: 180px;
}

.hover-menu {
  box-shadow: -2px 2px 200px rgb(0, 0, 0);
}

.menu-btn-tamanho {
  width: 180px;
}

.btn-menu-tamanho {
  width: 90px;
}

.img-product {
  width: 280px;
}

.product-tamanho {
  width: 280px;
}

.custom-tooltip .tooltip-inner {
  background-color: #81f073;
  color: #000000;
  font-weight: bold;
  border: 3px solid rgb(1, 99, 41);
  margin: 0px;
  border-radius: 0.575rem;
  padding: 0.2rem
}


.custom-tooltip2 .tooltip-inner {
  background-color: #5389fd;
  color: #000000;
  font-weight: bold;
  border: 3px solid #0037ff;
  margin: 0px;
  border-radius: 0.575rem;
  padding: 0.2rem
}


.custom-tooltip3 .tooltip-inner {
  background-color: #88e7ff;
  color: #000000;
  font-weight: bold;
  border: 3px solid #6c8bfa;
  margin: 0px;
  border-radius: 0.575rem;
  padding: 0.2rem
}

.custom-tooltip4 .tooltip-inner {
  background-color: #fff388;
  color: #000000;
  font-weight: bold;
  border: 3px solid #fac16c;
  margin: 0px;
  border-radius: 0.575rem;
  padding: 0.2rem
}

.custom-tooltip5 .tooltip-inner {
  background-color: #ff8888;
  color: #000000;
  font-weight: bold;
  border: 3px solid #fc4b4b;
  margin: 0px;
  border-radius: 0.575rem;
  padding: 0.2rem
}

.tamanho-inputs {
  width: 100px !important;
}

.arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid #ff0000;
  animation: arrowAnimation 2s ease-out;
}

@keyframes arrowAnimation {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) translateY(0);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -50%) translateY(-20px);
  }
}